#layout-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.layout-body {
  display: flex;
  overflow: hidden;
  padding: 3.5% 5%;
  height: 100%;
  width: 100%;
}

.shadow {
  box-shadow: 5px 5px 20px gray;
}

.borderbox {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}