.login-child-container {
  background-color: #ffffff;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

.login-child-container .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.login-child-container .right {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EBE8FC;
}

  .login-child-container .right p{
    font-size: 2rem;
  }
.login-child-container .right img {
  height: 50%;
  background-size: cover;
}