@font-face {
  font-family: 'Castellar';
  src: url('./fonts/Castellar.ttf') format('woff');
}

:root {
  --app-bg: #D4ADFC;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

input {
  /* outline: none; */
}

#app-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--app-bg);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}